*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins'
}


.container{  
    display: grid;
    grid-template-columns: 0.8fr 3fr 0.8fr;
    grid-template-rows: 0.1fr 0.2fr 0.5fr 1.5fr 0.5fr 0.09fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "borde header borde2"
    "borde nav borde2"
    "borde slide borde2"
    "borde main borde2"
    "borde info borde2"
    "borde footer borde2";
}

.borde{
    grid-area: borde;
}

.borde2{ 
    grid-area: borde2; 
}

/**
 * . HEADER
 * -------------------------------------------------------------------
 */

.header{ 
    grid-area: header;
    display: inline-block;
    background-color: #010C3D;
    font-size: 1.2vh;
    padding: 0.5em;
    padding-top: 1.2em;
    padding-bottom: 0.3em;
    color: whitesmoke;
    align-content: center;
}

.header-img{
    display: inline-block;
    width: 1.5em;
    margin-left: 0.3em;
    margin-right: 0.4em;
    color: #000;
}

/**
 * . NAV
 * -------------------------------------------------------------------
 */

.nav{
    display: grid;
    background-color: #D0C9C7;
    grid-template-columns: 0.3fr 1.5fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: "logo nav-bar"; 
    grid-area: nav; 
}

.nav-bar{ 
    display: flex;
    grid-area: nav-bar;
    justify-self: end;
    flex-direction: row;
    align-self: center;
}

ul li{
    display: flex; 
    margin: 0.8em;
    padding: 0.5em;
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
    float: left;
}

ul li a{
    display: flex;
    text-decoration: none;
    color: #010C3D;

}

.logo{ 
    grid-area: logo;
    margin-left: 0.5em;
    padding: 0.5em;
}

.ex:hover{
    text-decoration: underline;
}

.nav__responsive-ul{
    display: none;
}

.nav-bar-mobile{
    display: flex;
    grid-area: nav-bar;
    justify-self: end;
    flex-direction: row;
    align-self: center;
}

/**
 * . SLIDER
 * -------------------------------------------------------------------
 */

.slide{ 
    display: block;
    grid-area: slide; 
    background-color: #062D9C;
    height: auto;
}

.img-slider{
    width: 100%;
    display: block;
}

/**
 * . MAIN
 * -------------------------------------------------------------------
 */

.main{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "items"
    "nosotros"; 
    grid-area: main; 
    background-color: #010C3D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.9'%3E%3Ccircle fill='%23010C3D' cx='50' cy='0' r='50'/%3E%3Cg fill='%23010b47' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23010b50' cx='50' cy='100' r='50'/%3E%3Cg fill='%23010a5a' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23010a64' cx='50' cy='200' r='50'/%3E%3Cg fill='%2301096e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23010877' cx='50' cy='300' r='50'/%3E%3Cg fill='%23010881' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2301078b' cx='50' cy='400' r='50'/%3E%3Cg fill='%23010794' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2301069e' cx='50' cy='500' r='50'/%3E%3Cg fill='%230005a8' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%230005b1' cx='50' cy='600' r='50'/%3E%3Cg fill='%230004bb' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%230004c5' cx='50' cy='700' r='50'/%3E%3Cg fill='%230003cf' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%230002d8' cx='50' cy='800' r='50'/%3E%3Cg fill='%230002e2' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%230001ec' cx='50' cy='900' r='50'/%3E%3Cg fill='%230001f5' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%230000FF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: scroll;
    background-size: contain;
}

.producto{
    background-color: bisque;
    padding: 40px;
    margin: 50px;
    border: 5px;
    border-color: black;
    border-style: double;
}

.items_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 2;
    align-content: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.item{
    display: flex;
    height: 10em;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='53.4%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230403AC'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='56.1%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230503E2'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='0.3'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: local;
    background-size: cover;
    border: 3px solid;
    border-color: black;
    color: blue;
    flex-shrink: 1;
    flex-grow: 1.5;
    flex-basis: 10%;
    margin: 1em;
    padding: 0.8em;
    max-width: 13em;
    min-width: 8em;
    border-radius: 3em;
    justify-content: space-around;
    width: 100%;
}

/**
 * . NOSOTROS
 * -------------------------------------------------------------------
 */

.nosotros{
    display: grid; 
    grid-template-columns: 0.5fr 0.5fr; 
    grid-template-rows: 1.5fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "fila1 fila2"
    "fila3 fila3"; 
    grid-area: nosotros; 
    margin-bottom: 1em;
    color: white;
    font-size: 1.5vh;

}

.fila1{
    grid-area: fila1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;

}

.fila2{
    grid-area: fila2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;

}

.fila3{
    display: flex;
    grid-area: fila3;
    justify-content: center;
    flex-wrap: wrap;
    align-self: flex-end;
    padding: 5vh 0 5vh 0;
    font-size: 1.8vh;
}

/**
 * . INFO
 * -------------------------------------------------------------------
 */

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    grid-area: info; 
    background-color: #D0C9C7;
    padding: 3.4em 0 3.4em 0 ;
}

.contacto{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.3em;
}

h1{
    display: inline;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 2.3vh;
    padding: 1em 0 1em 0;
    color: #000;
    
}

.product-container{  
    display: grid;
    grid-template-columns: 0.8fr 3fr 0.8fr;
    grid-template-rows: 0.01fr 0.02fr 0.07fr 1.5fr 0.5fr 0.09fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "borde header borde2"
    "borde nav borde2"
    "borde category borde2"
    "borde main borde2"
    "borde info borde2"
    "borde footer borde2";
}


.product-item{
    display: flex;
    flex-direction: column;
    height: 12em;
    background-color: #ffffff;
    background-attachment: local;
    background-size: cover;
    border: 3px solid;
    border-color: black;
    color: #062D9C;
    flex-shrink: 1;
    flex-grow: 1.5;
    flex-basis: 33%;
    margin: 1em;
    padding: 0.8em;
    max-width: 13em;
    min-width: 8em;
    border-radius: 3em;
    justify-content: space-around;
    width: 100%;
    align-items: center
}

.product-name{
    color: black;
    height:25px
}

.product-price{
    color: black;
}

.product-img{
    align-content: center; 
}

.category{ 
    display: block;
    grid-area: category; 
    height: 50px;
}

.product-img-img{
    display:block;
    margin:auto;
}

/**
 * . FOOTER
 * -------------------------------------------------------------------
 */


.footer{ 
    grid-area: footer;
    background-color: #010C3D;
    display: flex;
}

.footer li a{
    color: whitesmoke;
    margin: 0;
} 



@media only screen and (max-width: 1200px){
    .nav-bar{
    display: none;
    }

    .logo{
        display: none;
    }

    .nav__responsive-ul{
        display: block;
        position: absolute;
        width: 100%;
        background-color: #D0C9C7;
    }

    .nav__responsive-button-container{
        position: absolute;

    }

    .nav__responsive-button{
        height: 20px;
        width: 20px;
    }

    .nav{height: 25px;

    }

    .nav-bar-mobile{
        display: block;
    }

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.2fr 1.5fr 0.1fr 0.1fr;
    }

    .items_container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .product-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.4fr 0.5fr 0.09fr;
    }

    .nosotros{
        font-size: 3.5vh;
        grid-template-rows: 0.1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "fila1" 
        "fila2"
        "fila3"; 
        font-size: 2.5vh;
    }

    .fila2, .fila1{
        justify-content: space-around;
    }

    .fila1, .fila3{
        display: one;
    }

}

@media only screen and (min-width: 1200px){
    .nav__responsive-container{
        display: none;
    }



}

.main-productos{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "items"
    "."; 
    grid-area: main; 
    background-color: #010C3D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.9'%3E%3Ccircle fill='%23010C3D' cx='50' cy='0' r='50'/%3E%3Cg fill='%23010b47' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23010b50' cx='50' cy='100' r='50'/%3E%3Cg fill='%23010a5a' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23010a64' cx='50' cy='200' r='50'/%3E%3Cg fill='%2301096e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23010877' cx='50' cy='300' r='50'/%3E%3Cg fill='%23010881' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2301078b' cx='50' cy='400' r='50'/%3E%3Cg fill='%23010794' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2301069e' cx='50' cy='500' r='50'/%3E%3Cg fill='%230005a8' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%230005b1' cx='50' cy='600' r='50'/%3E%3Cg fill='%230004bb' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%230004c5' cx='50' cy='700' r='50'/%3E%3Cg fill='%230003cf' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%230002d8' cx='50' cy='800' r='50'/%3E%3Cg fill='%230002e2' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%230001ec' cx='50' cy='900' r='50'/%3E%3Cg fill='%230001f5' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%230000FF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: scroll;
    background-size: contain;
}